<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Match Info Lookup</title>
</head>
<body>
    <h1>Match Info Lookup</h1>
    <form method="post">
        {% csrf_token %}
        <label for="token">API Key: {{ token }}</label><br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="tag">Tagline:</label>
        <input type="text" id="tag" name="tag" value="KR1"required><br><br>
        <button type="submit">Lookup Match Info</button>
    </form>
</body>
</html>
